################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/OwnSpace/.vs/OwnSpace/v15/Server/sqlite3
/OwnSpace/.vs/OwnSpace/v15/.suo
/OwnSpace/ConsoleApp/obj/Debug
/OwnSpace/ConsoleApp/bin/Debug
/OwnSpace/ConsoleApp2/bin/Debug
/OwnSpace/ConsoleApp2/obj/Debug
/OwnSpace/packages
/OwnSpace/.vs/config
/OwnSpace/Own.MVC/bin
/OwnSpace/Own.MVC/obj/Debug
/OwnSpace/Own.BLL/bin/Debug
/OwnSpace/Own.BLL/obj/Debug
/OwnSpace/Own.DAL/bin/Debug
/OwnSpace/Own.DAL/obj/Debug
/OwnSpace/Own.Interface/bin/Debug
/OwnSpace/Own.Interface/obj/Debug
/OwnSpace/Own.Models/bin/Debug
/OwnSpace/Own.Models/obj/Debug
/obj/Debug
/OwnSpace/Own.Common/bin/Debug
/OwnSpace/Own.Common/obj/Debug
