################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/OwnSpace/.vs/OwnSpace/v15/Server/sqlite3
/OwnSpace/.vs/OwnSpace/v15/.suo
/OwnSpace/ConsoleApp/obj/Debug
/OwnSpace/ConsoleApp/bin/Debug
/OwnSpace/ConsoleApp2/bin/Debug
/OwnSpace/ConsoleApp2/obj/Debug
