<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="serviceType" value="SendMessage" />
  </appSettings>

  <connectionStrings>
    <add name="OwnTest" connectionString="Data Source=.;Initial Catalog=OwnTest;user id=sa;pwd=123456" />
  </connectionStrings>

</configuration>